<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112929755300-6gleq38efdu0d7dliukuara4q7i1qgf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112929755300-6gleq38efdu0d7dliukuara4q7i1qgf3</string>
	<key>API_KEY</key>
	<string>AIzaSyCdySAN8ryRROE0dlxf9wj5Vd4m39BMkvs</string>
	<key>GCM_SENDER_ID</key>
	<string>112929755300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.monse.BookStore</string>
	<key>PROJECT_ID</key>
	<string>bookstore-857f1</string>
	<key>STORAGE_BUCKET</key>
	<string>bookstore-857f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112929755300:ios:87d6e95ac1d63c23e7d631</string>
</dict>
</plist>